<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
<h1>Created by Tom Hastings</h1>
<a href="https://devsoft.co.za">Hire me as a developer</a>
<br>
<a href="https://bigtop.co.za">Hire me as a juggler</a>
<br>
</div>
<div class="container-fluid">
<h1>K8 Juggling Equipment</h1>
<p>Professional remote-controlled LED equipment for performance</p>
<p>K8 is made by K8 Malabares</p>
<a href="https://k8malabares.com">K8 Website</a>
<br>
</div>
<br>
<div class="container-fluid">
    <h3>Patterns are from the library of juggling:</h3>    
    <a href="https://libraryofjuggling.com">Library of juggling site</a>
    <br>
</div>

<br>
<div class="container-fluid"> 
      Brought to you by the Circus Scientist <a class="nav-link" href="https://circusscientist.com">  circusscientist.com</a>
  </div>

{% endblock %}