<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div style="text-align:center;">


<div class="container-fluid">
<h1>K8 Virtual Juggling</h1>
<p></p>
<h3>Created by Tom Hastings</h3>
<a href="https://devsoft.co.za">Hire me as a developer</a>
<br>
<a href="https://bigtop.co.za">Hire me as a juggler</a>
<p></p>
<br>
</div>
<div class="container-fluid">
<h3>K8 Juggling Equipment</h3>
<p>Professional remote-controlled LED equipment for performance</p>
<p>K8 is made by K8 Malabares</p>
<a href="https://k8malabares.com">K8 Website</a>
<br>
</div>
<br>
<div class="container-fluid">
    <h3>Juggling patterns are from the library of juggling:</h3> 
    <p>Learn to juggle a long list of patterns step by step - with comprehensive instructions</p>   
    <a href="https://libraryofjuggling.com">Library of juggling site</a>
    <br>
</div>

<br>
<div class="container-fluid"> 
      Brought to you by the Circus Scientist <a class="nav-link" href="https://circusscientist.com">  circusscientist.com</a>
  </div>
</div>
{% endblock %}