<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Flask Tutorial</title>
</head>

<body>
  <h1> K8 Virtual Juggling </h1>
  <p> Choose your pattern... </p>
  <form method="post" action="/">
    <input type="submit" value="Cascade" name="Cascade" />
    <input type="submit" value="ReverseCascade" name="ReverseCascade" />
    <input type="submit" value="millsmess" name="millsmess" />
    <input type="submit" value="chops" name="chops" />
    <input type="submit" value="jugglerstennis" name="jugglerstennis" />

    

    <input type="submit" value="StatueOfLiberty" name="StatueOfLiberty" />
    <input type="submit" value="Box" name="Box" />
    <input type="submit" value="Columnsonehand" name="Columnsonehand" />

  </form>
</body>

</html>
<script>

  let light = {{ variable | tojson}}; //load variable from python!
  console.log("light is: " + light);
  let pattern = "{{pattern}}";
  console.log("pattern is: " + pattern);
</script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.2.0/lib/p5.js"></script>
<script src="{{url_for('static', filename='sketch.js')}}">
</script>